<h2>Streets</h2>

<table>
{{#each streets}}
<tr>
	<td>
		{{name}}
	</td>
	<td>
		<a href="/meters/{{id}}">Meters in street</a>
	</td>
</tr>
{{/each}}
</table>
<br>

<button><a href="/buy-electricity" class="buy-btn" style="text-decoration: none;">Buy Electricity</a></button>