<h2>Top Up Electricity</h2>

<form action="/meter/use/:meter_id" method="post">
    <label for="amount">Enter Amount</label>
    <input type="number" name="amount" id="amount"> <br><br>

    <label for="meter-number">Enter Meter Number</label>
    <input type="number" name="meter_number" id="meter_number"> <br><br>

    <input type="submit" value="Purchase Electricity">
</form>
